[submodule "frontend"]
	path = frontend
	url = https://github.com/To-en/bpdash-client.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/To-en/bpdash-server.git
	branch = main
